body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: #1e293b;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

h2 {
  color: white;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #38bdf8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #0ea5e9;
}

#mensaje {
  margin-top: 10px;
  color: #f87171;
}
